bin
.vscode
appsettings.json
.DS_Store
*.db
**/node_modules
**/yarn.lock
**/.eslintcache
**/.idea

backend/.vs/Reactivities/v16/.suo
backend/API/API.csproj.user
/backend/**/obj/Debug/net5.0
/backend/**/obj/Release/net5.0
**/.vs/Reactivities/DesignTimeBuild
